.container {
  color: #757575;
  font-size: 1.4rem;

  margin-bottom: 16px;

  .wrapper {
    position: relative;

    .label {
      color: currentColor;
      font-size: 1.2rem;

      position: absolute;
      top: 15px;
      left: 14px;

      transform: translate3d(0, 0, 0);

      transform: translate3d(0, -24px, 0);

      transition: all 0.2s ease-out;

      pointer-events: none;
    }

    .input {
      width: 100%;

      color: #231f20;
      font-size: 1.4rem;

      margin: 0;

      padding: 14px 18px;
      border: 0;
      box-sizing: border-box;
      appearance: textfield;

      outline: 0;
    }

    .fieldset {
      padding: 0 8px;
      border: 0;

      border: 2px solid;

      position: absolute;
      top: -5px;
      right: 0;
      bottom: 0;
      left: 0;

      border-radius: 4px;

      pointer-events: none;

      .legend {
        width: auto;
        max-width: 0.01px;

        max-width: 100%;

        display: block;

        text-align: left;

        padding: 0;

        transition: max-width 50ms cubic-bezier(0, 0, 0.2, 1) 0ms;

        visibility: hidden;

        .legendTitle {
          font-size: 1.3rem;

          padding: 0 2px;
        }
      }
    }
  }
}
