html,
body {
  font-family: 'Lato', sans-serif;
  font-size: 62.5%;
  font-style: normal;
  text-rendering: optimizeLegibility;
  font-variant: normal;

  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}
